.page-l-enter {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}
.page-l-enter.page-l-enter-active {
	opacity: 1;
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: .3s;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.page-l-exit {
	opacity: 1;
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: .3s;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.page-l-exit-active {
	opacity: 0;
	transform: translate3d(-100%, 0, 0);
}

.page-r-enter {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}
.page-r-enter.page-r-enter-active {
	opacity: 1;
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: .3s;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.page-r-exit {
	opacity: 1;
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: .3s;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.page-r-exit-active {
	opacity: 0;
	transform: translate3d(100%, 0, 0);
}
