.app-fab {
    position: fixed;
    bottom: 2rem;
    left: calc(50% - 2.5rem - .5px);
    z-index: 9999;
    border: 1px solid #f2f2f2;
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
    line-height: 4.75rem;
    text-align: center;
    background: #01375B;
    transition: all 0.2s ease-in-out;
    font-size: 2.8rem;
}

.app-fab-open .app-fab {
    transform: scale(1.5);
}

.app-fab-action {
    position: fixed;
    z-index: 9998;
    bottom: 2.25rem;
    left: calc(50% - 2rem - .5px);
    border: 1px solid #f2f2f2;
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    line-height: 3.6rem;
    text-align: center;
    background: #F7971E;

    transition: all 0.2s ease-in-out;
}

.app-fab-action-1 {
    transition-delay: 0.02s;
}

.app-fab-action-2 {
    transition-delay: 0.02s;
}

.app-fab-action-3 {
    transition-delay: 0.04s;
}

.app-fab-action-4 {
    transition-delay: 0.06s;
}

.app-fab-action-5 {
    transition-delay: 0.08s;
}

.app-fab-action-6 {
    transition-delay: 0.1s;
}

.app-fab-action-7 {
    transition-delay: 0.12s;
}


.app-fab-open .app-fab-action-1 {
    transform: translate3d(-9.5rem,0,0);
}

.app-fab-open .app-fab-action-2 {
    transform: translate3d(-8.6rem,-5rem,0);
}

.app-fab-open .app-fab-action-3 {
    transform: translate3d(-5rem,-8.6rem,0);
}

.app-fab-open .app-fab-action-4 {
    transform: translate3d(0,-10rem,0);
}

.app-fab-open .app-fab-action-5 {
    transform: translate3d(5rem, -8.6rem,0);
}

.app-fab-open .app-fab-action-6 {
    transform: translate3d(8.6rem,-5rem,0);
}

.app-fab-open .app-fab-action-7 {
    transform: translate3d(9.5rem,0,0);
}