.client-list-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 97px;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 2;
}

.list-clients {
  margin: 0;
  padding: 0;
}

.list-clients li {
  list-style: none;
  border-bottom: 1px solid #F2F2F2;
  padding: .5rem;

  background: linear-gradient(to right, #F2F2F2, 95%, rgba(255,255,255,0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.list-clients li:first-child {
  border-top: 1px solid #F2F2F2;
}
