body {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: 200;
  background-attachment: fixed;
  background-repeat: no-repeat;
  
  background: linear-gradient(#F7971E, #F7971E, rgb(247, 171, 30)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

html, body {
  overflow: hidden;
  height: 100%;
}

.text-hand {
  font-family: 'Nothing You Could Do', cursive;
}